<!DOCTYPE html>
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Personal Website</title>
    <link rel="stylesheet" href="{% static 'css/bs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}"/>
  </head>
  <body>
      <div class = "header">
        <a href = "{% url 'homepage:home' %}"><img class = "img" src = "{% static 'images/icons8-c-letter-104.png' %}"></a>
        <a href = "{% url 'homepage:home' %}"><button class = "btn home">Home</button></a>
        <a href = "{% url 'homepage:about' %}"><button class = "btn about">About</button></a>
        <a href = "{% url 'homepage:resume' %}"><button class = "btn resume">Resume</button></a>
        <a href = "{% url 'homepage:contact' %}"><button class = "btn contact">Contact</button></a>
      </div>

      <div class = "middle_home">
        <h1>I'm Carlo</h1>
        <h4>a novice web developer</h4>
      </div>
      
      <div class="contact">
        <div class="row">
          <div class="fixed-bottom">
            <div class="icon">
              <a href="https://www.instagram.com/ctupa7/" target="_blank">
                <img src="{% static 'images/icons8-instagram-64.png' %}", alt="Instagram"></a>
              <a href="https://www.linkedin.com/in/carlo-silalahi/" target="_blank">
                <img src="{% static 'images/icons8-linkedin-48.png' %}", alt="Linkedin"></a>
              <a href="mailto:ctupa7@gmail.com" target="_blank">
                <img src="{% static 'images/icons8-gmail-48.png' %}", alt="Gmail"></a>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>