<!DOCTYPE html>
{% load static %}
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Personal Website</title>
    <link rel="stylesheet" href="{% static 'css/bs/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/story3.css' %}"/>
  </head>
  <body>
      <div class = "header">
        <a href = "{% url 'homepage:home' %}"><img class = "img" src = "{% static 'images/icons8-c-letter-104.png' %}"></a>
        <a href = "{% url 'homepage:home' %}"><button class = "btn home">Home</button></a>
        <a href = "{% url 'homepage:about' %}"><button class = "btn about">About</button></a>
        <a href = "{% url 'homepage:resume' %}"><button class = "btn resume">Resume</button></a>
        <a href = "{% url 'homepage:contact' %}"><button class = "btn contact">Contact</button></a>
      </div>

      <div class="middle_about">
        <div class="row">
          <div class="col-lg-4">
              <b>About Me</b><br>
              Hi, my name is Carlo Tupa Indriauan.
              I am currently pursuing computer science bachelor’s degree at Universitas Indonesia.
              I am still new to web developing so it’s still much for me to learn.
          </div>
          <div class="col-lg-4">
              <img class = "img_1" src="{% static 'images/p1.jpg' %}">
          </div>
          <div class="col-lg-4">
              <b>Details</b><br>
              Name        : Carlo Tupa Indriauan<br>
              Birth Date  : November, 25th 2000<br>
              Location    : Depok, Indonesia<br>
          </div>
        </div>
      </div>

      <div class="contact">
        <div class="row">
          <div class="fixed-bottom">
            <div class="icon">
              <a href="https://www.instagram.com/ctupa7/" target="_blank">
                <img src= "{% static 'images/icons8-instagram-64.png' %}", alt="Instagram"></a>
              <a href="https://www.linkedin.com/in/carlo-silalahi/" target="_blank">
                <img src="{% static 'images/icons8-linkedin-48.png' %}", alt="Linkedin"></a>
              <a href="mailto:ctupa7@gmail.com" target="_blank">
                <img src="{% static 'images/icons8-gmail-48.png' %}", alt="Gmail"></a>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>